

<div class="panel panel-default wrapper">
  <!-- Default panel contents -->

  <div class="panel-heading title">Your Datasets</div>
  <table border="0" class="table">
    <tr>
      <!--<th scope="col">N</th>-->
      <th scope="col">Name </th>
      <th scope="col">Description </th>
      <th scope="col">Status</th>
      <th scope="col">Created </th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <%i=0%>
    <% @Datasets.each do |dataset| %>
        <tr>
          <%i=i+1%>
          <!--<td><%=i%></td>-->
          <td type="edit"><%= dataset.name %></td>
          <td type="edit"><%= dataset.description %></td>
          <td width="130px" >
            <div class="progress">
              <% case dataset.status
                   when 'P' %><div class="progress-bar progress-bar-success" style="width: 100%">Success</div></div>
                <% when 'A' %><div class="progress-bar progress-bar-info" style="width: 100%"> Analyzed</div></div>
                <% when 'S' %><div class="progress-bar progress-bar-info" style="width:<%=dataset.analyzed_progress.to_s%>%">
                    <% if dataset.analyzed_progress > 65 %>
                        <span>In Process</span></div></div>
                    <%else%>
                        </div><span>In Process</span></div>
                    <% end %>
                <% when 'E' %> <div class="progress-bar progress-bar-danger" style="width:<%=dataset.analyzed_progress.to_s%>%">
                    <% if dataset.analyzed_progress > 65 %>
                        <span>Error</span></div></div>
                     <%else%>
                        </div><span>Error</span></div>
                    <% end %>
              <% end %>
          </td>
          <td><%= dataset.created_at.strftime("%d %b %H:%M") %></td>
          <td><%= link_to 'Destroy', dataset_path(dataset),
                          method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td><%= link_to 'Edit',  '#', 'data-target' => "#myModal_#{dataset.id}", 'data-toggle' => 'modal' %>

          <div class="modal fade" id='<%= "myModal_#{dataset.id}" %>' tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title" id="myModalLabel">Edit</h4>
                </div>
                <div class="modal-body">
                  <%= render 'datasets/form', dataset: dataset, method: :get %>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->
          </td>
          <td>
            <% if dataset.status == 'P' or dataset.status == 'A'%>
                <%= link_to 'Detail', dataset %>
            <% else %>
                Detail not available
            <% end %>
          </td>
      </tr>
    <%end%>
  </table>
  <div>
    <%= paginate @Datasets %>
  </div>
</div>
