
<div class="panel panel-default wrapper">
  <!-- Default panel contents -->

  <div class="panel-heading title">Your Datasets</div>
  <table border="0" class="table">
    <tr>
      <th scope="col">N</th>
      <th scope="col">Name </th>
      <th scope="col">Description </th>
      <th scope="col">Status </th>
      <th scope="col">Created </th>
      <th scope="col">Updated </th>
    </tr>

    <%i=0%>
    <% @Datasets.each do |dataset| %>
        <tr>
          <%i=i+1%>
          <td><%=i%></td>
          <td type="edit"><%= dataset.name %></td>
          <td type="edit"><%= dataset.description %></td>
          <td><%= dataset.status %></td>
          <td><%= dataset.created_at.strftime("%d %b %H:%M") %></td>
          <td><%= dataset.updated_at.strftime("%d %b %H:%M") %></td>
          <td><%= link_to 'Destroy', dataset_path(dataset),
                          method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td><button class="btn btn-default btn-sm" id="showmodal"><span class="glyphicon glyphicon-pencil"></span></button> </td>
          <td><%= link_to 'Detail', dataset %></td>
        </tr>

        <!-- Modal -->
        <%= form_for dataset do |f| %>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <p>
                      <%= f.label :name %><br>
                      <%= f.text_field :name %>
                    </p>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                  </div>
                  <div class="modal-body">
                    <p>
                      <%= f.label :description %><br>
                      <%= f.text_area :description %>
                    </p>
                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <%= f.submit 'Save', class: "btn btn-primary"%>
                  </div>
                </div>
              </div>
            </div>
        <%end%>
    <% end %>
  </table>
</div>

<br /><br />

<div class="panel panel-default wrapper">
  <!-- Default panel contents -->

  <div class="panel-heading title whiteBg">Your Analyzed Datasets</div>
  <table border="0" class="table">
    <tr>
      <th scope="col">N</th>
      <th scope="col">Name </th>
      <th scope="col">Description </th>
      <th scope="col">Analysys progress </th>
    </tr>

    <%i=0%>
    <% @AnalyzedDatasets.each do |dataset| %>
        <tr>
          <%i=i+1%>
          <td><%=i%></td>
          <td type="edit"><%= dataset.name %></td>
          <td type="edit"><%= dataset.description %></td>
          <td>
            <%= dataset.analyzed_progress%>
            <%= raw "%" %>
          </td>
        </tr>
    <% end %>
  </table>
</div>