<script>
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: {id: 'map'}}, function(){
        var markers = handler.addMarkers([
            <% @coordinates_hash.each do |key, array| %>
            <%= "{ lat: #{array[0]}, lng: #{array[1]} }," %>
            <% end %>
        ]);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
    });
</script>

<div style='width: 800px; margin: auto;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<%= link_to 'Back', datasets_path , style: 'left: 35px'%><br>

<table class="table table-striped" style="width: 400px; margin-left: 50px;">
  <tr>
    <td><b>Dataset name: </b></td>
    <td><%= @dataset.name %></td>
  </tr>
  <tr>
    <td><b>Dataset description: </b></td>
    <td><%= @dataset.description %></td>
  </tr>
  <tr>
    <td><b>Dataset created_at: </b> </td>
    <td><%= @dataset.created_at.strftime('%d %b %H:%M') %></td>
  </tr>
  <tr>
    <td><b>Dataset updated_at: </b> </td>
    <td><%= @dataset.updated_at.strftime('%d %b %H:%M') %></td>
  </tr>
  <tr>
    <td><b>Dataset analyzed_progress: </b></td>
    <td> <%= @dataset.analyzed_progress %></td>
  </tr>
  <tr>
    <td><b>Dataset pocet riadkov: </b></td>
    <td> <%= @data.count %></td>
  </tr>
</table>

<br><br><br>

<table class="table table-striped table-bordered" style="margin-left: 50px;">
  <tr>
    <% for i in 0..@names_of_data_columns.count %>
        <th><%= @names_of_data_columns[i] %></th>
    <% end %>
  </tr>
<% for i in 1..@number_of_data_rows do %>
    <% data_row = @data.find(i) %>
      <tr>
        <% for j in 0..@names_of_data_columns.count %>
            <td><%= data_row[@names_of_data_columns[j]] %></td>
        <% end %>
      </tr>
<% end %>
</table>


<%= form_tag({controller: 'datasets', action: 'change_type'}, method: 'get') do %>
    Meno stlpca
    <%= select_tag(:column_id, options_for_select(@columns.collect {|column| [ column.label, column.id ]})) %>
    Typ v stlpci
    <%= select_tag(:type_id, options_for_select([['Adresa', 1],['Meno', 2],['Lokacia', 3]])) %>
    <%= hidden_field_tag :id , @dataset.id %>
    <%= submit_tag 'Update', class: 'btn btn-primary' %>
<% end %>
