<h1 class="title">Your profile</h1>
<div>
  <div class="wrapper">
    <a href="http://gravatar.com/emails" target=_blank title="Change profile picture"><%= gravatar_for @user %></a>
    <%= @user.name %>
  </div>

  <div>
    <%= form_for(@user) do |f| %>
        <div class="wrapper">
          <%= render 'shared/error_messages', object: f.object %>
          <%= f.label :name %>
          <%= f.text_field :name %><br /><br />
          <%= f.submit 'Save changes', class: '' %>
        </div>
    <% end %>

    <div class="wrapper">
      <%= link_to 'Change email',    user_edit_email_path,    class: 'btn btn-default' %>
      <br /><br />
      <%= link_to 'Change password', user_edit_password_path, class: 'btn btn-default' %>
      <br /><br />
    </div>

  </div>
</div>