<h1 class = "title">Update your password</h1>

<div>
  <%= form_for(@user, url: user_password_edit_path) do |f| %>
      <div class="wrapper">
        <%= render 'shared/error_messages', object: f.object %>

        <table id="profile_table">
          <tr>
            <td>Current password</td>
            <td><%= f.password_field :password_curr, placeholder: 'Current password' %></td>
          </tr>

          <tr>
            <td>New password</td>
            <td><%= f.password_field :password, placeholder: 'New password' %></td>
          </tr>

          <tr>
            <td>Confirm password</td>
            <td><%= f.password_field  :password_confirmation, placeholder: 'Confirm new password' %></td>
          </tr>
          <tr>
            <td><br /><%= link_to 'Back', user_profile_edit_path, class: 'btn gray' %></td>
            <td><br /><%= f.submit 'Save changes', class: '' %></td>
          </tr>
        </table>

      </div>
      <br />
  <% end %>
</div>