<h1 class = "title">Update your E-mail</h1>

<div class="wrapper">
  <%= link_to '< Back to profile', user_edit_profile_path, class: 'btn btn-default' %>
</div>

<div>
  <%= form_for(@user, url: user_edit_email_path) do |f| %>
      <div class="wrapper">
        <%= render 'shared/error_messages', object: f.object %>

        <br /><br /><br />
        <%= f.label :email, 'New Email' %><br />
        <%= f.text_field :email %><br />

        <%= f.label :password, 'Confirm with password' %><br />
        <%= f.password_field :password, placeholder: 'Password...' %><br />

        <%= f.submit 'Save changes' %>
      </div>
  <% end %>
</div>
<br /><br /><br /><br /><br /><br /><br />