<!DOCTYPE html>
<html>
<head>
  <title>DATA-POINTS</title>
  <meta charset="utf-8" />

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag "fav-icon.png" %>

  <!-- OG -->
  <meta property="og:title" content="Sofistikované spracovanie dát" />
  <meta property="og:site_name" content="datapoints.eu"/>
  <meta property="og:description" content="STU FIIT - tímový projekt - Tím číslo 3. - Téma: Sofistikované spracovanie dát" />
  <meta property="og:image" content="http://www.pro-media.sk/dataPoints/images/og-image.jpg" />
  <link REL="SHORTCUT ICON" href="images/fav-icon.png" />

  <!-- GOOGLE FONTS -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,600,700,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css' />
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>

</head>
<body>

<!-- HOLDER -->
<div id="holder">
  <!-- HEADER -->
  <header>
    <!-- WRAPPER -->
    <div class="wrapper">
      <!-- LOGO -->
      <%= link_to image_tag('logo.png', :size => '274, 100'), root_path, :id => "header-logo" %>

      <!-- NAVIGATION -->
      <nav>
        <%= link_to "Home", root_path %>

        <% if logged_in? %>
           <%= link_to'Add Dataset',   datasets_new_path %>
           <%= link_to 'Your datasets', datasets_path %>
            <%= link_to "Profile",      edit_user_path(current_user) %>
            <%= link_to'Log out',      logout_url, method: 'delete' %>
        <% else %>
            <%= link_to 'Register',     signup_path, method: :get %>
            <%= link_to 'Log in',       login_path %>
        <% end %>

      </nav>
    </div>

    <hr />
  </header>

  <main>
    <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %>
  </main>


  <!-- FOOTER PUSHER -->
  <div id="push"></div>

</div>

<!-- FOOTER -->
<footer>
  <div class="wrapper">

    <!-- NAVIGATION -->
    <nav>
      <%= link_to "Home", root_path %>

      <% if logged_in? %>
          <%= link_to 'Add Dataset',    datasets_new_path %>
          <%= link_to 'Your datasets',  datasets_path %>

          <%= link_to 'Log out',        logout_url, method: 'delete' %>
      <% else %>
          <%= link_to 'Register',     signup_path %>
          <%= link_to 'Log in',       login_path %>
      <% end %>
    </nav>

    <!-- COPYRIGHT -->
    <p class="copyright">
      Copyright © 2014 Team No.3. All rights reserved
    </p>

    <!-- FIIT LOGO -->
    <%= link_to image_tag('stu-fiit-logo.jpg', :size => '134, 55'), "http://www.fiit.stuba.sk/", :class => "fiit"%>

  </div>
</footer>

</div>

<% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

</body>
</html>
