<!DOCTYPE html>
<html>
<head>
  <title>DATA-POINTS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag "fav-icon.png" %>
</head>
<body>

<!-- HOLDER -->
<div id="holder">
  <!-- HEADER -->
  <header>
    <!-- WRAPPER -->
    <div class="wrapper">
      <!-- LOGO -->
      <%= link_to image_tag('logo.png', :size => '274, 100'), root_path, :id => "header-logo" %>

      <!-- NAVIGATION -->
      <nav>
        <%= link_to "Home", root_path %>

        <% if logged_in? %>
           <%= link_to_unless_current 'Add Dataset',   datasets_new_path %>
           <%= link_to_unless_current 'Your datasets', datasets_show_path %>
            <%= link_to_unless_current "Profile",      edit_user_path(current_user) %>
            <%= link_to_unless_current 'Log out',      logout_url, method: 'delete' %>
        <% else %>
            <%= link_to_unless_current 'Register',     signup_path %>
            <%= link_to_unless_current 'Log in',       login_path %>
        <% end %>

      </nav>
    </div>

    <hr />
  </header>

  <!-- CAROUSEL -->
  <div id="carousel">
    <%= image_tag 'carousel/carousel-1.jpg',:title => 'intro carousel'  %>
  </div>

  <%= yield %>

  <!-- HOW DOES IT WORK -->
  <section id="how-does-it-work" class="gray">
    <div class="wrapper">

      <!-- TITLE -->
      <h1 class="title">How does it work?</h1>

      <!-- BOXES -->
      <div class="boxes">
        <!-- UPLOAD -->
        <div class="box">
          <div class="left icon i-upload"></div>
          <div class="right content">
            <h1 class="title">Upload your data set</h1>
            <p class="text">
              You need only 4 clicks to upload your known/unknown data via our quick and easy form
            </p>
          </div>
        </div>

        <!-- PROCESS -->
        <div class="box">
          <div class="left icon i-stats"></div>
          <div class="right content">
            <h1 class="title">We’ll process them</h1>
            <p class="text">
              Everything runs in background, so you can get back to your every day business
            </p>
          </div>
        </div>

        <!-- CONTACT -->
        <div class="box">
          <div class="left icon i-mail-send"></div>
          <div class="right content">
            <h1 class="title">And contact you</h1>
            <p class="text">
              Right after everything has been done, we’ll send you the e-mail or SMS
            </p>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- WE'RE HERE TO HELP -->
  <section id="were-here-to-help" class="orange center">
    <div class="wrapper">

      <!-- TITLE -->
      <h1 class="title">We're here to help</h1>

      <!-- TEXT -->
      <p class="text">
        If you’re new to the idea of being data-driven, or you would like to search through new statistical information, our tool will give you planty of option to do so. Join us and enjoy extensive reports and analyses.
        <br /><br />
      </p>

      <!-- BUTTON -->
      <%= link_to_unless_current 'Explore new horizons',     signup_path, :class => "btn white uppercase" %>

    </div>
  </section>


  <!-- FOOTER PUSHER -->
  <div id="push"></div>

</div>

<!-- FOOTER -->
<footer>
  <div class="wrapper">

    <!-- NAVIGATION -->
    <nav>
      <%= link_to "Home", root_path %>

      <% if logged_in? %>
          <%= link_to_unless_current 'Add Dataset',    datasets_new_path %>
          <%= link_to_unless_current 'Your datasets',  datasets_show_path %>

          <%= link_to_unless_current 'Log out',        logout_url, method: 'delete' %>
      <% else %>
          <%= link_to_unless_current 'Register',     signup_path %>
          <%= link_to_unless_current 'Log in',       login_path %>
      <% end %>
    </nav>

    <!-- COPYRIGHT -->
    <p class="copyright">
      Copyright © 2014 Team No.3. All rights reserved
    </p>

    <!-- FIIT LOGO -->
    <%= link_to image_tag('stu-fiit-logo.jpg', :size => '134, 55'), "http://www.fiit.stuba.sk/", :class => "fiit"%>

  </div>
</footer>

</div>

<% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

</body>
</html>
